body{
    font-size: 40px;
}

.layout{
    background-color: #ffd077;
    width: 320px;
    height: 450px;
    
}

.screen{
    margin-left: 10px ;
    background-color: steelblue;
    width:300px; 
    height:70px;
    font-size:48px;
    text-align: right;
    user-select: none;
    border:solid 2px rgb(212, 98, 31);
}

input{
    margin-left:5px;
    background-color: rgb(150, 148, 148);
    width:63px;
    height:50px;
    font-size: 32px;
    cursor:pointer;
}

input:hover{
    opacity: 0.6;
}

#total{
    width: 130px;
    height:50px;
    background-color: rgb(255, 174, 174);
}

#btnC{
    width:80px;
    font-size: 20px;
}

.cal{
    background-color: rgb(250, 186, 250);
}