

.logo {
    font-size: 32px;
    width: 120px;
    position:fixed;
    z-index: 10;
}

#main_image{
    margin: auto;
    opacity: 0.6;
}

#main_image:hover{
    opacity: 0.9;
}

footer{
    height: 40px;
}